.faq-container {
  position: relative; 
  overflow: hidden;
}

.faq-container::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-image: url('/faq_bg.png'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 0;
}

.faq-content {
  position: relative; 
  z-index: 1;
}
.faq-list {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem; 
}

.faq-item {
  margin-bottom: 2rem; 
  margin-left: 13.5rem;
}

.faq-button {
  width: 1444px; 
  height: 65px;/* Full width for buttons */
  padding: 10px; 
  text-align: left; 
  align-items:center  ;
  background-color: #373131; 
  color: white;
  border: 1px solid #FBCE1F; 
  cursor: pointer; 
  border-radius: 10px;
}

.faq-arrow {
  margin-left: 88%; 
}

.faq-answer {
  width: 1444px;
  height: 65px;
  padding: 10px; 
  border: 1px solid #FBCE1F; 
  margin-top: 0.5rem; 
  border-radius: 10px; 
  background-color: #fff; 
} 